<title>{% if page.shorttitle %}bholley::{{ page.shorttitle }}{% else %}bholley{% endif %}{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<script>
  // Do this the old-fashioned way to avoid depending on jquery.
  document.addEventListener('DOMContentLoaded', function() {
    var ref = document.referrer;
    if (ref.startsWith(location.origin)) {
      document.getElementById('topcontainer').classList.remove('firstvisit');
    }

    if (ref.length > location.origin.length + 1) {
      document.getElementById('fixedcontent').classList.remove('firstvisit');
    }
  });
</script>
</head>
