<div id="topcontainer" class="firstvisit">
<div id="pagetitle" class="overlay">{% if page.shorttitle %} <a href="/">bholley</a>::{{ page.shorttitle }}{% else %} ::<a href="/">bholley</a>{% endif %}</div>
<div id="linkbar" class="overlay"><a href="/blog/latest">Blog</a><a href="/about">About</a><a class="fa fa-envelope-o" rel="me" href="mailto:bobbyholley@gmail.com"></a><a rel="me" href="https://github.com/bholley/" class="fa fa-github"></a><a rel="me" href="https://www.linkedin.com/in/bobbyholley" class="fa fa-linkedinnoadblock"></a><a rel="me" href="https://www.youtube.com/playlist?list=PLA1qd3qf5NhUwm8NouVypiD8O-9mK-NNa" class="fa fa-youtubenoadblock"></a><a rel="me" href="https://twitter.com/bhology" class="fa fa-twitternoadblock"></a></div>
</div>
