<div id="topcontainer" class="firstvisit">
<div id="pagetitle" class="overlay">{{ page.shorttitle }}</div>
<div id="linkbar" class="overlay"><a href="/blog/latest">Blog</a><a href="/about">About</a><a class="fa fa-envelope-o" href="mailto:bobbyholley@gmail.com"></a><a href="https://github.com/bholley/" class="fa fa-github"></a><a href="https://www.linkedin.com/in/bobbyholley" class="fa fa-linkedinnoadblock"></a><a href="https://twitter.com/bhology" class="fa fa-twitternoadblock"></a></div>
</div>
